/* styles.css */

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

#header {
  height: 100px;
  background-color: #333;
  color: white;
  text-align: center;
  line-height: 100px;
}

#sidebar {
  width: 25%;
  background-color: #f1f1f1;
  float: left;
  height: calc(100vh - 100px);
  overflow: auto;
}

#map {
  width: 75%;
  height: calc(100vh - 100px);
  float: right;
}

#recyclingTypesDropdown {
  width: 100%;
  padding: 5px;
}

